/* BASE, ICONS, MISC */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f2f2f2;
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
  text-decoration: none;
}

.apod-placeholder {
  align-self: center;
  color: #777777;
}

.nasa-fav-grid > div > a {
  text-decoration: none;
}

.apod-go-back {
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  display: block;
  margin-top: 2rem;
  outline: 0;
  border: 0;
  background-color: #828282;
  color: white;
  text-decoration: none;
  cursor:pointer;
  letter-spacing: 0.05rem;
  font-family: "Nunito Sans", sans-serif;
  width:100%;
  border-radius:10rem;
}

.apod-go-back strong {
  color:white !important;
  opacity: 1 !important;
}

.apod-go-back:hover {
  background-color: #626262;
}




.apod-placeholder strong {
  color: black;
  opacity: 0.7;
}

.footer-favs {
  display: flex;
  align-self: flex-end !important;
  margin: 0 auto 3rem !important;
}

.apod-psst {
  font-style: italic;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: #777777;
}

.apod-psst > .fa-heart {
  margin: 0 0.8rem;
  font-size: 1.6rem;
}

.container {
  width: 120rem;
  background-color: white;
  margin: 4rem auto;
  padding: 3rem 5rem;
  display: flex;
  border-radius: 2rem;
  min-height: 70rem;
  flex-direction: column;
  justify-content: center;
  box-shadow: -10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  align-items: center;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  color: #777777;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
}

#spinner {
  visibility: visible;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}

.icon__heart {
  position: absolute;
  top: 41rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #f8f8f8;
  border-radius: 2.5rem;
  color: grey;
  font-size: 1.6rem;
  cursor: pointer;
}

.icon__search {
  position: absolute;
  top: 41rem;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #f8f8f8;
  border-radius: 2.5rem;
  color: grey;
  font-size: 1.6rem;
  cursor: pointer;
}

.icon__heart input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.icon__heart input:checked ~ .fa-heart {
  color: #f78ba6;
}

.apod-bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

iframe {
  border-style: none;
  height: 45rem;
  width: 60rem;
}

.apod-spinner {
  width: 64px;
  height: 64px;
}

/* TEMPLATE */
#nasa-template-whole {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* remove this if its messing up the other template this is for favourites */
  min-height: 70rem;
}

.apod-left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* justify-content: space-around;*/
  position: relative;
}

.apod-right-side {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 0rem 0 5rem 5rem;
}

/* LOGOS */
.apod-logo {
  width: 100%;
  margin-top: 2rem;
}

.apod-logo-fav {
  max-width: 82%;
  align-self: center;
}

.apod-fav-logo-link {
  flex: 1;
}

.nasa-fav-logo {
  display: flex;

  cursor: pointer;

  margin-top: 2rem;
  align-self: flex-start;
}

.apod-favourites-css {
  flex: 1;
  margin-top: 3rem !important;
  margin-bottom: 0 !important;
}

.apod-content {
  display: flex;
  flex-direction: column;
  margin-top: 3.3rem;
  flex: 1;
}

/* TEMPLATE STYLES */
#apod-title {
  color: #424242;
  align-self: flex-end;
  font-size: 1.6rem;
  margin-top: 1rem;
}

#apod-date {
  font-size: 1.4rem;
  font-weight: 900;
  color: #777777;
  align-self: flex-end;
}

#apod-desc-opener {
  line-height: 2rem;
  color: #383838;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: justify;
  margin: 1rem 0 1.5rem 0;
}

#apod-desc-remaining {
  line-height: 2rem;
  color: #383838;
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 1rem;
}

#apod-explanation-title {
  display: flex;
  color: #777777;
  font-size: 2rem;
  letter-spacing: -0.06rem;
}

.apod-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.apod-footer > i {
  font-size: 2rem;
}

.apod-ext-links {
  display: inline-block;
  align-self: center;
  padding: 0.5rem 0.8rem;
  color: white;
  justify-content: center;
  border-radius: 200rem;
  opacity: 0.5;
  cursor: pointer;
  background-color: #777777;
  margin-right: 1rem;
}
/*
#apod-explanation-title:after {
  content: " ";
  background-color: #777777;
  height: 5px;
  display: inline-flex;
  align-self:center;
  flex: 1;
  margin-top: .3rem;
  margin-left: 1.5rem;
  border-radius: 200rem;
  opacity:.5;
} */

.apod-tags {
  display: flex;
}
.apod-pills {
  background-color: #777777;
  padding: 0.3rem 0.7rem;
  border-radius: 5rem;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  margin-top: 0.3rem;
  margin-right: 1rem;
  opacity: 0.5;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.apod-img {
  object-fit: cover;
  height: 45rem;
  width: 60rem;
}

.apod-title-date-img-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.nasa-fav-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.nasa-fav-grid-item {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  position: relative;
}

img.fav-item-url {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

label.apod-remove-fav {
  position: absolute;
  color: white;
  right: 0.8rem;
  top: 0.6rem;
  cursor: pointer;
  opacity: 0.5;
}

label.apod-remove-fav:hover {
  opacity: 1;
}

.icon__search__fav {
  position: absolute;
  top: 26.1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #f8f8f8;
  border-radius: 2.5rem;
  color: grey;
  font-size: 1.6rem;
  cursor: pointer;
}

.fav-item-title {
  font-size: 1.6rem;
  margin: 1rem 0 0 0;
  font-weight: 900;
  letter-spacing: -0.06rem;
  width: 30rem;
  text-align: center;
  color: #383838;
}

.fav-item-date {
  font-size: 1.1rem;
  color: #383838;
  margin: 0.3rem 0 0 0;
  width: 20rem;
  text-align: center;
  font-weight: 600;
}

/* NAVIGATION */

.apod-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: -0.05rem;
  margin-bottom: 4rem;
  font-size: 30px;
  margin-top: 4rem;
}

.apod-link-1,
.apod-link-2,
.apod-link-3,
.apod-link-4 {
  cursor: pointer;
  color: #777777;
  opacity: 0.5;
}

.apod-link-1:hover,
.apod-link-2:hover,
.apod-link-3:hover,
.apod-link-4:hover {
  opacity: 1;
  position: relative;
  font-family: 'Dosis', sans-serif;
}

.apod-link-1:hover::after {
  content: "TODAY";
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  color: #777777;
  font-weight: 900;
  font-size: 1.2rem;
  top: -2rem;
  left: -0.2rem;
  letter-spacing: 0.08rem;
  text-align: center;
}

.apod-link-2:hover::after {
  content: "DATE";
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  color: #777777;
  font-weight: 900;
  font-size: 1.2rem;
  top: -2rem;
  left: -0.1rem;
  letter-spacing: 0.08rem;
  text-align: center;
}

.apod-link-3:hover::after {
  content: "SHUFFLE";
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  color: #777777;
  font-weight: 900;
  font-size: 1.2rem;
  top: -2rem;
  left: -1.2rem;
  letter-spacing: 0.08rem;
  text-align: center;
}

.apod-link-4:hover::after {
  content: "LIKES";
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  color: #777777;
  font-weight: 900;
  font-size: 1.2rem;
  top: -2rem;
  left: -0.3rem;
  letter-spacing: 0.08rem;
  text-align: center;
}

.apod-datepicker {
  position: relative;
}

.apod-date-form {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: relative;
  display:flex;
  align-items: center;
}

.apod-date-form select {
  margin: 0px 10px;
  text-align-last: center;
  padding: 0rem 2rem;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  border-style: none;
  color: rgb(19, 19, 19);
  background: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

.apod-date-form select:hover {
  cursor:pointer;
}

select option {
  background-color: black;
  border-style: none;
  border: 0px;
  outline: 0px;
}

.apod-submit-date {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 100rem;
  margin-left: 2rem;
  border-style: none;
  height: 7.5rem;
  background: white;
  color: rgb(19, 19, 19);
  border: 0.2rem solid white;
  cursor: pointer;
}

.dates-container-border {
  border: 0.2rem solid white;
  display: inline-block;
  padding: 1rem;
  position: relative;
  border-radius:2.5rem;
  background-color:white;
}



.apod-x {
  font-size: 2.6rem;
  color: white;
  font-weight: 900;
  align-self: flex-end;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  position: absolute;
  right: -5rem;
  top: -5rem;
}

button.apod-submit-date:disabled {
  color: white;
  background-color: #424242;
  border: 2px solid #424242;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.apod-expanded-src {
  height: 90vh;
  align-self: center;
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  width: 90vw;
  object-fit: contain;
}

.apod-img-expanded {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  -webkit-animation: apod-img-expanded 0.4s
    cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: apod-img-expanded 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@-webkit-keyframes apod-img-expanded {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes apod-img-expanded {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.apod-links-mobile {
  display: none;
}

.apod-footer-mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: white;
  }

  .apod-fav-logo-link {
    flex: 0;
  }

  .container {
    box-shadow: none;
    margin: 4rem auto;
    padding: 0 10rem;
  }

  .apod-logo {
    display: flex;
    width: 60%;
    margin: 0rem auto 2rem auto;
  }

  #nasa-template-whole {
    flex-direction: column;
  }

  .apod-right-side {
    margin: 0;
  }

  .apod-links-mobile {
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    margin-top: 2rem;
  }

  .apod-left-side ~ .apod-right-side .apod-links {
  display:none;
  }
  .apod-img {
    width: 100%;
    margin-top: 2.5rem;
  }

  .apod-footer {
    display: none;
  }

  .apod-footer-mobile {
    display: flex;
  }

  .icon__search {
    top: 43rem;
  }

  .icon__heart {
    top: 43rem;
  }

  label.apod-remove-fav {
    right: 1.5rem;
    top: 3.5rem;
  }

  .apod-logo-fav {
    margin: auto;
    display: flex;
    max-width: 60%;
  }

  .apod-placeholder {
    margin-top: 15rem;
  }

  .icon__search__fav {
    top: 28.3rem;
  }

  iframe {
    width: 100%;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .apod-logo {
    width: 70%;
  }
}

@media only screen and (max-width: 882px) {
  .apod-logo-fav {
    max-width: 100%;
  }
}

@media only screen and (max-width: 845px) {
  .apod-logo {
    width: 100%;
  }

  .apod-expanded-src {
    height: 90vh;
    width: 90vw;
    object-fit: contain;
  }
}

@media only screen and (max-width: 767px) {
  .dates-container-border {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  .apod-submit-date {
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 3rem 0 0 3rem;
  }

  .dates-container-border::after {
    display: none;
  }

  .apod-day-select,
  .apod-month {
    margin-bottom: 3rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .apod-links-mobile {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 545px) {
  .dates-container-border {
    padding:0.5rem;
  }

  .apod-submit-date {
    margin:0 0 0 1rem;
    padding: 1rem 1.5rem;
    height:4.5rem;
    font-size:2.5rem;
  }

  .apod-date-form select {
    margin:0;
    padding:0;
  }
  .apod-day-select, .apod-month {
    margin-bottom:1rem !important;
  }

  .apod-x {
    right: 2rem;
  }
}

@media only screen and (max-width: 520px) {
  .container {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 417px) {
  .container {
    padding: 0 3rem;
  }
  .apod-links-mobile {
    margin-top: 0;
    font-size: 3rem;
  }
  .apod-date-form select {
    font-size: 2.5rem;
  }
  .apod-x {
    right: -1rem;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 0;
  }
  .apod-left-side {
    padding: 0 3rem;
  }

  .apod-right-side {
    padding: 0 3rem;
  }

  .apod-footer-mobile {
    padding: 0 3rem;
    margin-top: 2rem;
  }

  .nasa-fav-grid-item {
    margin: 0;
  }
}
